# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  releaseName: tailscale-operator
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: tailscale-operator
      version: 1.88.4
      sourceRef:
        kind: HelmRepository
        name: tailscale
  values:
    apiServerProxyConfig:
      allowImpersonation: true
      mode: "true"
