# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kiali-operator
  namespace: flux-system
spec:
  releaseName: kiali
  interval: 1h
  chart:
    spec:
      chart: kiali-operator
      version: 2.17.0
      sourceRef:
        kind: HelmRepository
        name: kiali
        namespace: kiali
  valuesFrom:
  - kind: ConfigMap
    name: kiali-values
    optional: true
  - kind: Secret
    name: kiali-values
    optional: true
  values:
    cr:
      create: true
      spec:
        server:
          web_fqdn: kiali.snow-enigmatic.ts.net
          web_root: /dashboards/kiali
          web_port: "20001"
          web_schema: https
        deployment:
          network_policy:
            enabled: false # does not work with ambient
          ingress:
            enabled: true
            class_name: tailscale
            override_yaml:
              spec:
                ingressClassName: tailscale
                rules:
                - host: kiali
                  http:
                    paths:
                    - path: /
                      pathType: Prefix
                      backend:
                        service:
                          name: kiali
                          port:
                            number: 20001
                tls:
                - hosts:
                  - kiali
        external_services:
          grafana:
            enabled: true
            internal_url: http://grafana.grafana/
            external_url: https://grafana.snow-enigmatic.ts.net/
            auth:
              type: basic
              username: secret:grafana:admin-user
              password: secret:grafana:admin-password
          prometheus:
            url: http://mimir-gateway.mimir/prometheus
            health_check_url: http://mimir-gateway.mimir
