apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  releaseName: grafana
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: grafana
  valuesFrom:
  - kind: ConfigMap
    name: grafana-values
    optional: true
  - kind: Secret
    name: grafana-values
    optional: true
  values:
    grafana.ini:
      auth.proxy:
        enabled: true
        header_name: Tailscale-User-Login
        header_property: email
        auto_sign_up: true
      users:
        auto_assign_org: true
        auto_assign_org_role: Admin
    dashboards:
      istio:
        mesh:
          gnetId: 7639
          datasource: Mimir
        service:
          gnetId: 7636
          datasource: Mimir
        workload:
          gnetId: 7630
          datasource: Mimir
        performance:
          gnetId: 11829
          datasource: Mimir
        control-plane:
          gnetId: 7645
          datasource: Mimir
        wasm-extension:
          gnetId: 13277
          datasource: Mimir
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
        - name: Loki
          uid: loki
          type: loki
          url: http://loki-gateway.loki
          isDefault: false
          jsonData:
            manageAlerts: false
            derivedFields:
            - datasourceUid: tempo
              matcherRegex: '"(t|T)race(?:_|-)?id":"(\w+)"'
              name: Trace ID
              url: "${__value.raw}"
              urlDisplayLabel: View Trace
        - name: Mimir
          uid: mimir
          type: prometheus
          url: http://mimir-gateway.mimir/prometheus
          isDefault: true
          jsonData:
            httpMethod: GET
            manageAlerts: false
            prometheusType: Prometheus
            exemplarTraceIdDestinations:
            - datasourceUid: tempo
              name: traceID
        - name: Tempo
          uid: tempo
          type: tempo
          url: http://tempo-gateway.tempo
          isDefault: false
          jsonData:
            traceQuery:
              timeShiftEnabled: true
            httpMethod: GET
            tracesToLogsV2:
              datasourceUid: loki
              filterByTraceId: true
            lokiSearch:
              datasourceUid: loki
            tracesToMetrics:
              datasourceUid: mimir
            serviceMap:
              datasourceUid: mimir
    ingress:
      enabled: true
      ingressClassName: tailscale
      hosts:
      - grafana
      tls:
      - hosts:
        - grafana
