# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: node-feature-discovery
  namespace: flux-system
spec:
  interval: 1h
  url: oci://registry.k8s.io/nfd/charts/node-feature-discovery
  ref:
    tag: 0.18.2
